@page
@model Cust__omer.Pages.Companies.CreateModel

@{
    ViewData["Title"] = "Create";
}

<div class="container">
    <div class="text-center mt-5">
        <h3>Register New Company</h3>
    </div>  
    <div class="row">
        <div class="offset-md-4 col-md-4">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-floating mb-3 mt-3">
                    <input class="form-control" asp-for="Company.Name">
                    <label asp-for="Company.Name"></label>
                    <span asp-validation-for="Company.Name" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input class="form-control" asp-for="Company.Address">
                    <label asp-for="Company.Address"></label>
                    <span asp-validation-for="Company.Address" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <div class="row">
                        <div class="col-md">
                            <div class="d-grid">
                                <input type="submit" value="Create" class="btn btn-info" />
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
