@page
@model Cust__omer.Pages.Companies.EditModel

@{
    ViewData["Title"] = "Edit";
}

<div class="container">
    <div class="mt-5 text-center mb-2">
        <h4>Edit Company Details</h4>
    </div>
    <div class="row">
        <div class="offset-md-4 col-md-4">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Company.Id" />
                <div class="form-floating mb-3">
                    <input asp-for="Company.Name" class="form-control" />
                    <label asp-for="Company.Name" class="control-label"></label>
                    <span asp-validation-for="Company.Name" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Company.Address" class="form-control" />
                    <label asp-for="Company.Address" class="control-label"></label>
                    <span asp-validation-for="Company.Address" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <div class="d-grid">
                        <input type="submit" value="Save updated Info" class="btn btn-info" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
