@page
@model Cust__omer.Pages.Customers.CreateModel

@{
    ViewData["Title"] = "Create";
}
<div class="container mb-5">
    <div class="text-center mt-5">
        <h5>Add New Customer</h5>
    </div>
    <div class="row">
        <div class="offset-md-3 col-md-5">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-floating mb-3 mt-3">
                    <input asp-for="Customer.FirstName" class="form-control" />
                    <label asp-for="Customer.FirstName"></label>
                    <span asp-validation-for="Customer.FirstName" class="text-danger"></span>
                </div>  
                <div class="form-floating mb-3">
                    <input asp-for="Customer.LastName" class="form-control" />
                    <label asp-for="Customer.LastName"></label>
                    <span asp-validation-for="Customer.LastName" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Customer.EmailAddress" class="form-control" />
                    <label asp-for="Customer.EmailAddress"></label>
                    <span asp-validation-for="Customer.EmailAddress" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Customer.PhysicalAddress" class="form-control" />
                    <label asp-for="Customer.PhysicalAddress"></label>
                    <span asp-validation-for="Customer.PhysicalAddress" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Customer.PhoneNumber" class="form-control" />
                    <label asp-for="Customer.PhoneNumber"></label>
                    <span asp-validation-for="Customer.PhoneNumber" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label>Select a company</label>
                    <br>
                    <select asp-for="Customer.CompanyId" class ="form-select" asp-items="ViewBag.CompanyId"></select>
                </div>
                <div class="mb-3">
                    <div class="d-grid">
                        <input type="submit" value="Create" class="btn btn-info text-light" />
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
