@page
@model Cust__omer.Pages.Customers.EditModel

@{
    ViewData["Title"] = "Edit";
}

<div class="container">
    <div class="mt-5 text-center mb-2">
        <h4>Edit Customer Details</h4>
    </div>
    <div class="row">
        <div class="offset-md-4 col-md-4">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Customer.Id" />
                <div class="form-floating mb-3">
                    <input asp-for="Customer.FirstName" class="form-control" />
                    <label asp-for="Customer.FirstName" class="control-label"></label>
                    <span asp-validation-for="Customer.FirstName" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Customer.LastName" class="form-control" />
                    <label asp-for="Customer.LastName" class="control-label"></label>
                    <span asp-validation-for="Customer.LastName" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Customer.EmailAddress" class="form-control" />
                    <label asp-for="Customer.EmailAddress" class="control-label"></label>
                    <span asp-validation-for="Customer.EmailAddress" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Customer.PhysicalAddress" class="form-control" />
                    <label asp-for="Customer.PhysicalAddress" class="control-label"></label>
                    <span asp-validation-for="Customer.PhysicalAddress" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Customer.PhoneNumber" class="form-control" />
                    <label asp-for="Customer.PhoneNumber" class="control-label"></label>
                    <span asp-validation-for="Customer.PhoneNumber" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <select asp-for="Customer.CompanyId" class="form-control" asp-items="ViewBag.CompanyId"></select>
                    <label asp-for="Customer.CompanyId" class="control-label"></label>
                    <span asp-validation-for="Customer.CompanyId" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <div class="d-grid">
                        <input type="submit" value="Save updated Info" class="btn btn-info" />
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
