@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center mt-5">
    <div class="bg-light p-5 rounded">
        <div class="col-sm-8 mx-auto">
            <h1>Welcome to Customer</h1>
            <p>Manage and generate receipts for customers.</p>
            <p class="small">Using this simple web application.</p>
            <p>
                <a class="btn btn-danger" asp-area="" asp-page="/Users/Create">Register for account »</a>
            </p>
        </div>
    </div>
</div>
